/* GLOBAL ==========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 63.5%;
}

body {
  background: #181818;
  color: #fff;
  font: 400 1.6rem 'Lato', sans-serif;
}

/* RESET ==========================*/

button,
input {
  border: none;
  outline: none;
}

/* HEADER ==========================*/

header {
  position: relative;
  background: #202020;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;

  min-height: 8.5rem;
  padding: 2rem;
  font-size: 2rem;

  transition: box-shadow 230ms;
}

header:hover {
  box-shadow: 0px 5px 6px 0px #00000038;
}

/* HOME ==========================*/

.home span {
  cursor: pointer;
  font-size: 4rem;
}

/* SEARCH-BAR ==========================*/

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar.search-bar-responsive {
  position: absolute;
}

.search-bar input {
  width: 70%;
  height: 3rem;
  font-size: 1.5rem;

  border: 0.1rem solid rgba(204, 204, 204, 0.253);
  border-right: none;
  border-radius: 0.2rem 0 0 0.2rem;
  background: #121212;
  color: #fff;
  padding: 0.5rem 1rem;

  transition: border 200ms;
}

.search-bar input:focus {
  border: 0.1rem solid rgba(65, 105, 225, 0.74);
}
.search-bar .button-search {
  background: #323232;
  color: #666666;
  height: 3rem;
  border: 0.1rem solid rgba(204, 204, 204, 0.253);
  border-left: none;
  border-radius: 0 0.2rem 0.2rem 0;

  padding: 0 1.75rem;
  cursor: pointer;

  display: flex;
  align-items: center;

  margin-right: 2rem;

  transition: color 200ms;
}

.search-bar .button-search:hover {
  color: white;
}

.search-bar button {
  background: transparent;
  color: #fff;
  display: flex;
  align-items: center;

  cursor: pointer;
}

/* OPTIONS ==========================*/

.options {
  display: flex;
  align-items: center;

  justify-self: flex-end;
}

.options div {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.options div span {
  position: relative;
  z-index: 2;
  cursor: pointer;
  font-size: 2.5rem;
  user-select: none;

  transition: color 250ms;
}

.options div span:active {
  color: #323232;
}

.options .search-responsive {
  display: none;
}

.options .search-responsive .button-search {
  background: transparent;
  color: white;
  cursor: pointer;
}

.options .user {
  position: relative;
  margin-right: 0;
}

.options .user span {
  background: #121212;
  border-radius: 50%;
  padding: 1rem;
}
/* MODAL ==========================*/
.modal-overlay {
  background: #00000085;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;

  visibility: hidden;
  opacity: 0;
}

.active {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: relative;
  background: #212121;
  width: 60%;
  margin: 2rem auto 0 auto;
  padding: 3rem;
  line-height: 2.75rem;

  border-radius: 0.3rem;

  transform: scale(0);
  transition: transform 250ms;
}

.modal.active {
  transform: scale(1);
}

.modal:hover {
  box-shadow: 0px 5px 6px 0px #00000038;
}

.modal .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal .close span {
  cursor: pointer;
  font-size: 3rem;

  transition: color 250ms, transform 250ms;
}

.modal .close span:hover {
  transform: rotate(90deg);
  color: #cc0000;
}

.modal h2 {
  margin-bottom: 2rem;
}

.modal .text-modal {
  margin-bottom: 2rem;
}

.modal .modal-mic {
  text-align: center;
}

.modal .modal-mic span {
  cursor: pointer;
  background: #cc0000;
  border-radius: 50%;
  padding: 1rem;
  font-size: 4rem;

  transform: scale(1);
  transition: background 250ms, color 250ms, transform 250ms;
}

.modal .modal-mic span:hover {
  transform: scale(1.35);
  background: #181818;
  color: #cc0000;
}

.modal .modal-mic small {
  display: block;
  margin-top: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  header {
    grid-template-columns: 5% 70% 25%;
  }
}

@media (max-width: 700px) {
  .search-bar input {
    width: 50%;
  }
}

@media (max-width: 550px) {
  header {
    grid-template-columns: 1fr 2fr;
  }
  .search-bar {
    display: none;
  }
  .options .search-responsive {
    display: flex;
  }
}
